In [1]:
import pandas as pd
import numpy as np

In [2]:
df_raw=pd.read_csv(r'./exhibitA-input.csv', sep='\t')

In [3]:
df_raw.head()

                            PLAY_ID  SONG_ID  CLIENT_ID              PLAY_TS
0  44BB190BC2493964E053CF0A000AB546     6164        249  09/08/2016 09:16:34
1  44BB190BC24A3964E053CF0A000AB546      544         86  10/08/2016 13:54:52
2  44BB190BC24B3964E053CF0A000AB546     9648        589  08/08/2016 06:08:53
3  44BB190BC24C3964E053CF0A000AB546     7565        656  11/08/2016 17:30:41
4  44BB190BC24D3964E053CF0A000AB546     8995        348  11/08/2016 02:40:39

In [4]:
df=df_raw[['SONG_ID','CLIENT_ID','PLAY_TS']]

In [5]:
df.head()

   SONG_ID  CLIENT_ID              PLAY_TS
0     6164        249  09/08/2016 09:16:34
1      544         86  10/08/2016 13:54:52
2     9648        589  08/08/2016 06:08:53
3     7565        656  11/08/2016 17:30:41
4     8995        348  11/08/2016 02:40:39

In [6]:
df['PLAY_TS'] = df['PLAY_TS'].str.slice(0, 10)

D:\dev\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
df.head()

   SONG_ID  CLIENT_ID     PLAY_TS
0     6164        249  09/08/2016
1      544         86  10/08/2016
2     9648        589  08/08/2016
3     7565        656  11/08/2016
4     8995        348  11/08/2016

In [8]:
df_grp=df.groupby(['PLAY_TS','CLIENT_ID']).nunique()['SONG_ID'].values

In [9]:
cnt=0
searchval=346

for val in df_grp:
    if val == searchval:
        cnt += 1

print (cnt)

89

In [10]:
df_grp.max()

409